.textexp{
    padding-top: 17px;
    font-size: 24px;
    font-style: revert;
    font-family: sans-serif;
    color: #2B7CD3;
}
.disc{
    text-align: justify;
}
.post{
   display:flex;
   justify-content: "start";
   margin-left:298px
}
.logo{
    width: 65px;
    height: 69px;
    margin-top: 21px;
}
.desc{
    margin-left: -110px;
}
.liste{
    margin-left: 115px;
    margin-top: -42px;
}
.li{
    color: black;
}
.exp{
    background-color: white;
    margin-top: 52px;
    border-radius: 14px;
    margin-right: 159px;
    margin-left: 750px;
    width: 100%;
}
@media (max-width: 768px){
    .exp{
        margin-left: -140px;
        width:487px;
        margin-top: 113px;
    }
  }