.textexp{
    padding-top: 17px;
    font-size: 24px;
    font-style: revert;
    font-family: sans-serif;
    color: #2B7CD3;
}
.disc{
    text-align: justify;
}
.exp{
    background-color: white;
    margin-top: 52px;
    border-radius: 14px;
    margin-right: 159px;
    margin-left: 750px;
    width: 100%;
}
@media (max-width: 768px){
    .exp{
        margin-left: -140px;
        width: 503px;
        margin-top: 96px;
    }
  }