.bloc{
   display: flex; 
   margin-left: 123px;
   padding: 20px;
}
.textcorrdoner{
margin-top: 6px;
margin-left: 20px;
}
#link{
    color: black;
}

@media (max-width: 350px){
    .formulaire{
        margin-top: 422px;
    }
    .input{
        margin-left: 124px;
    }
    .iconform{
        margin-right:35px ;
        margin-bottom:-36px
    }
    button{
        margin-left: 215px;
        margin-bottom: 36px;
    }
  }