.bloc{
   display: flex; 
   margin-left: 123px;
   padding: 20px;
}
.textcorrdoner{
margin-top: 6px;
margin-left: 20px;
}
#link{
    color: black;
}

@media (max-width: 768px){
    .formulaire{
        margin-top: 422px;
    }
    input{
        
    }
  }