img{
    margin-left: -256px;
}
.pro{
    margin-top: 105px;
    background-color: white;
    border-radius: 14px;
    margin-left: 20px;
    margin-right: 20px;}
.titre{
    padding-top: 28px;
    font-size: 24px;
    font-style: revert;
    font-family: sans-serif;
    color: #2B7CD3;
}
.boxprojet{
    display: flex;
    justify-content: space-around;
    margin-left: 249px;
    padding: 20px;
}
.textprojet{
    margin-right: 226px;
    font-size: 15px;
    font-style: revert;
    font-family: auto;
}
.ligne1{
    margin-left: 295px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.continue{
    display: flex;
    justify-content: space-between;
    margin-left: -36px;
}
.formulaire{
    margin-right: 245px;
    margin-top: 13px;

}
input{
    border-radius: 4px;
    width: 316px;
    height: 20px;
    margin-left: 30px;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-color: #2B7CD3;
}
.ligneform{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
button{
    background-color: #2B7CD3;
    border-color: #2B7CD3;
    color: white;
    border-radius: 3px;
    width: 106px;
    height: 35px;
}
.href{
    margin-right: 265px;
}

@media (max-width: 768px){
    .continue{
        display: flow-root;
    }
    .ligneform{
        display: flow-root; 
    }
    .ligne1{
        display: flow-root;
        margin-left: 252px;
    }
    .boxprojet{
        display: flow-root;
    }
    .textprojet{
        margin-left: -97px;
        width: 193px;
    }
    .href{
        margin-left: -124px;
        display: flex;
    }
    .pro{
        width:487px;
        margin-top: 55px;
    }
  }