.App {
  text-align: center;
}
.app{
  position: absolute;
}
.test{
  position:fixed;
  background-color: #2B7CD3;
    padding: 21px;
    border-radius: 100px;
    margin-left: 673px;
    margin-top: 400px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: #F2F3F4;
}

.etudeexp{
  display: flex;
  justify-content: space-between;
  margin-left: 166px;
  margin-top: 65px;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background:white;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #2B7CD3;
  border-radius: 10px;
}
@media (max-width: 768px){
  .etudeexp{
    display: flow-root;
  }
  footer{
    width: 526px;
  }
}
