.footer{
    background-color: white;
    padding: 14px;
    border-radius: 14px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 49px;
}

@media (max-width: 500px){
    .footer{
        
    }
  }